
body
{
    display:grid;
    grid-template-rows: repeat(20,1fr);
    grid-template-columns: 1fr;
    gap: 2vh;
    width: 100%;
}
header
{
    grid-row: 1/5;
    grid-column: 1 ;
    background: rgb(247, 134, 134);
}
main
{
    grid-row: 5/17;
    grid-column: 1 ;
    background: rgb(145, 134, 247);
}


header > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header > ul > li 
{
    list-style: none;
    width: 12.5%;
}

/* ...Footer related styles... */

footer
{
    grid-row: 17/21;
    grid-column: 1 ;
    background: rgb(105, 224, 111);
}

#footer {
    disp
}